<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Livestock 48</title>
    <script>
        let response = "${list_purchases.purchase.status}";

        let table = document.querySelector('#table table-striped');

        let column = 1;

        // loop over all the rows in the column and update each cell's value based on the response
        for (let i = 0; i < table.rows.length; i++) {
             let row = table.rows[i];
             let cell = row.cells[column];

             if (response) {
                cell.textContent = 'Successful';
             }
             else {
                cell.textContent = 'Not Successful';
        }
}

    </script>
</head>
<body>
<div class="container">
    <div th:insert="fragments/navbar.html"> </div>

    <div class="jumbotron">
        <h3>Orders</h3>
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Order Id</th>
                <th scope="col">Animal</th>
                <th scope="col">Photo</th>
                <th scope="col">Breed</th>
                <th scope="col">Buyer FirstName</th>
                <th scope="col">Buyer LastName</th>
                <th scope="col">Buyer Email</th>
                <th scope="col">Completed</th>
                <th scope="col">Date</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="list_purchases : ${Purchase}">
                <td th:text="${list_purchases.purchaseElementId}"></td>
                <td>
                    <a id="photoButton" th:href="@{'/images/'+ ${list_purchases.animal.animalType.animalBreed} +'.jpg'}">
                        <img width="60px" height="60px" id="image1" th:src="@{'/images/'+ ${list_purchases.animal.animalType.animalBreed} +'.jpg'}">
                    </a>
                </td>
                <td th:text="${list_purchases.animal.animalType.animalName}"></td>
                <td th:text="${list_purchases.animal.animalType.animalBreed}"></td>
                <td th:text="${list_purchases.animal.customer.firstName}"></td>
                <td th:text="${list_purchases.animal.customer.lastName}"></td>
                <td th:text="${list_purchases.animal.customer.email}"></td>
                <td th:text="${list_purchases.purchase.status}"></td>
                <td th:text="${list_purchases.purchase.purchaseDate}"></td>

            </tr>
            </tbody>
        </table>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>