<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Livestock48: Register</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
  <div class="container">
    <div th:insert="~{fragments/navbar.html}"> </div>
    <div>
      <form class="jumbotron" action="#" th:action="@{api/v1/customers/register}" th:object="${customer}" method="post">
        <div class="form-group">
          <label>First Name</label>
          <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Enter First Name" th:field="${customer.firstName}">
        </div>
        <div class="form-group">
          <label>Last Name</label>
          <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Enter Last Name" th:field="${customer.lastName}">
        </div>
        <div class="form-group">
          <label>Email address</label>
          <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email" th:field="${customer.email}">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>

        <div class="mx-auto d-flex justify-content-between">
          <button type="reset" class="btn btn-negative">Cancel</button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</body>
</html>